.checkbox label {
  font-weight: bold;
}

.panel-title .checkbox label {
  font-weight: normal;
}

.answerable-question {
  color: black;
  background-color: #e6f9fb;
  border: 1px solid #dfdfdf;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: .75rem 1.25rem;
}

.answerable-subquestions {
  padding: 1rem;
  border: 1px solid #dfdfdf;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 18px;
}

.answerable-question .form-group {
  margin-bottom: 0;
}

.answerable-question .form-group .form-check-input {
  margin-top: 0.37rem;
}

.answerable-section .form-group .form-check-label {
  margin-left: 2px;
  font-weight: 500;
}

.answerable-section .card-header .col-10 {
  width: auto;
  flex-basis: auto;
  padding-right: 0;
}

svg {
  fill: currentColor;
}

.caret-square-up,
.caret-square-down,
.question-circle,
.info-circle {
  height: 1rem;
  margin-bottom: 0.15rem;
}

.question-circle {
  fill: grey;
}

.text-white .question-circle {
  fill: white;
}

.caret-square-up,
.caret-square-down {
  margin-right: 0.2rem;
  margin-left: -5px;
}

.help-icon-text-input {
  margin-bottom: 25px;
  bottom: 0;
}

.has-unit-label {
  font-weight: bold;
  margin-top: 12px;
  margin-left: 12px;
}

.tooltip-content {
  white-space: pre-wrap;
}

.collapse-toggle {
  margin-right: 0.3em;
  line-height: 0.9;
}

.form-label {
  font-weight: 500;
}

input:disabled {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.accordion > .card {
  overflow: visible;
}

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__navigation:focus {
  outline: none;
}

.wizard-step {
  min-height: 650px;
}

.wizard-step-content {
  min-height: 600px;
}

.list-group-item.active {
  font-weight: 500;
}

.question-category-1 {
  background-color: rgba(8, 255, 0, 0.05);
}

.question-category-2 {
  background-color: rgba(230, 127, 0, 0.05);
}

.question-category-3 {
  background-color: rgba(222, 0, 230, 0.05);
}

.question-category-4 {
  background-color: rgba(0, 84, 230, 0.05);
}

.question-category-5 {
  background-color: rgba(0, 230, 222, 0.05);
}

.answer {
  display: flex;
  position: relative;
  align-items: center;
}

.answer > .answer-content {
  flex-grow: 1;
  max-width: 500px;
}

.card-header:first-child {
  line-height: 24px;
}

.card-header.bg-info {
  background-color: #e6f9fb !important;
}

.card-header.section-background {
  background-color: #e6f9fb
}

.card-header .form-group {
  margin-bottom: 0;
}

.emphasise-on-relevant {
  animation: emphasiseOnRelevant 1.2s ease-in;
}

.card-header.emphasise-on-relevant {
  animation: emphasiseOnRelevantSection 1.2s ease-in;
}

.debugMode {
  opacity: 50%;
}

@keyframes emphasiseOnRelevant {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
    background-color: yellow;
  }

  25% {
    display: block;
    opacity: 0;
  }

  75% {
    display: block;
    opacity: 1;
  }

  100% {
    display: block;
    opacity: 1;
    background-color: transparent;
  }
}

@keyframes emphasiseOnRelevantSection {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
    background-color: yellow;
  }

  25% {
    display: block;
    opacity: 0;
  }

  75% {
    display: block;
    opacity: 1;
  }

  100% {
    display: block;
    opacity: 1;
    background-color: #e6f9fb;
  }
}

