.checkbox label {
  font-weight: bold;
}

.panel-title .checkbox label {
  font-weight: normal;
}

.answerable-question {
  color: black;
  background-color: #e6f9fb;
  border: 1px solid #dfdfdf;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 0.75rem 1.25rem;
}

.answerable-subquestions {
  padding: 1rem;
  border: 1px solid #dfdfdf;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 1.11rem;
}

.answerable-question .form-group {
  margin-bottom: 0;
}

.answerable-question .form-group .form-check-input {
  margin-top: 0.37rem;
}

.answerable-section .form-group .form-check-label {
  margin-left: 0.11rem;
  font-weight: 500;
}

.answerable-section .card-header .col-10 {
  width: auto;
  flex-basis: auto;
  padding-right: 0;
}

.overlay-comment {
  position: absolute;
  z-index: 10;
}

svg {
  fill: currentColor;
}

.question-comment,
.comment-delete {
  cursor: pointer;
}

.caret-square-up,
.caret-square-down,
.question-circle,
.question-comment,
.info-circle {
  height: 1rem;
  margin-bottom: 0.15rem;
}

.question-circle,
.question-comment,
.external-link-icon,
.close-icon,
.recycle-bin-icon {
  fill: grey;
}

.text-white .question-circle,
.text-white .question-comment,
.text-white .external-link-icon {
  fill: white;
}

.caret-square-up,
.caret-square-down {
  margin-right: 0.2rem;
  margin-left: -0.3125rem;
}

.has-unit-label {
  font-weight: bold;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
}

.tooltip-content {
  white-space: pre-wrap;
}

.collapse-toggle {
  margin-right: 0.3rem;
  line-height: 0.9;
}

.form-label {
  font-weight: 500;
  white-space: nowrap;
}

input:disabled {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.accordion > .card {
  overflow: visible;
}

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__navigation:focus {
  outline: none;
}

.wizard-step {
  min-height: 40.625rem;
}

.wizard-step-content {
  min-height: 37.5rem;
}

.list-group-item.active {
  font-weight: 500;
}

.question-category-1 {
  background-color: rgba(8, 255, 0, 0.05);
}

.question-category-2 {
  background-color: rgba(230, 127, 0, 0.05);
}

.question-category-3 {
  background-color: rgba(222, 0, 230, 0.05);
}

.question-category-4 {
  background-color: rgba(0, 84, 230, 0.05);
}

.question-category-5 {
  background-color: rgba(0, 230, 222, 0.05);
}

.answer {
  display: flex;
  position: relative;
  align-items: center;
}

.answer > .answer-content {
  flex-grow: 1;
  max-width: 31.25rem;
}

.card-header {
  min-height: 3rem;
}

.card-header:first-child {
  line-height: 24px;
}

.card-header.bg-info {
  background-color: #e6f9fb !important;
}

.card-header.section-background {
  background-color: #e6f9fb;
}

.question-header {
  display: flex;
  align-items: center;
}

.question-header h6 {
  margin: 0;
}

.icon-list-items {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.icon-list-item {
  list-style-type: none;
}

.card-header .form-group {
  margin-bottom: 0;
}

.emphasise-on-relevant-icon {
  animation: emphasiseOnRelevantIcon 0.5s ease-in;
}

.emphasise-on-relevant {
  animation: emphasiseOnRelevant 1.2s ease-in;
}

.card-header.emphasise-on-relevant {
  animation: emphasiseOnRelevantSection 1.2s ease-in;
}

.comment-tooltip > .tooltip-inner {
  max-width: none;
  width: 30vw;
  border: solid 2px #afafaf;
  background-color: #cbeef6;
  color: #000000;
  padding: 0;
  border-radius: 0;
}

.close-comment-icon {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-left: auto;
}

#comment-form {
  display: flex;
  width: 100%;
}

#comment-form textarea {
  resize: none;
  overflow-y: hidden;
}

.comment-form-control {
  border-radius: 0;
}

.btn.comment-form-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2px;
  bottom: 2px;
  height: 25px;
  width: 25px;
  padding: 0;
}

.comment-content {
  text-align: left;
  padding: 0.5rem;
}

.comment-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-content .comment-author {
  font-weight: bold;
}

.comment-content .comment-value {
  white-space: pre-line;
}

.comment-list-items {
  overflow: hidden scroll;
  max-height: 25rem;
}

.comment-timestamp {
  color: #696969;
  font-style: italic;
}

.comment-badge {
  position: relative;
  bottom: 13px;
  right: 7px;
  font-size: 0.5625rem;
}

.show-irrelevant {
  opacity: 50%;
  pointer-events: none;
}

.show-irrelevant .form-check-input,
.show-irrelevant .form-check-label {
  pointer-events: none;
}

.show-irrelevant .card-header,
.show-irrelevant.wizard-nav {
  pointer-events: auto;
}

@keyframes emphasiseOnRelevant {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
    background-color: yellow;
  }

  25% {
    display: block;
    opacity: 0;
  }

  75% {
    display: block;
    opacity: 1;
  }

  100% {
    display: block;
    opacity: 1;
    background-color: transparent;
  }
}

@keyframes emphasiseOnRelevantSection {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
    background-color: yellow;
  }

  25% {
    display: block;
    opacity: 0;
  }

  75% {
    display: block;
    opacity: 1;
  }

  100% {
    display: block;
    opacity: 1;
    background-color: #e6f9fb;
  }
}

@keyframes emphasiseOnRelevantIcon {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  25% {
    display: block;
    opacity: 0;
  }

  75% {
    display: block;
    opacity: 1;
  }

  100% {
    display: block;
    opacity: 1;
    background-color: transparent;
  }
}
