.checkbox label {
  font-weight: bold;
}

.panel-title .checkbox label {
  font-weight: normal;
}

.answerable-question {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 0 15px;
}

.answerable-subquestions {
  padding-top: 10px;
  padding-left: 2em;
  border: 1px solid #bce8f1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 18px;
}

svg {
  fill: currentColor;
}

.caret-square-up,
.caret-square-down,
.question-circle,
.info-circle {
  height: 1rem;
  margin-bottom: 0.15rem;
}

.caret-square-up,
.caret-square-down {
  margin-right: 0.2rem;
}

.help-icon-text-input {
  margin-bottom: 25px;
  bottom: 0;
}

.has-unit-label {
  margin-bottom: 26px;
  bottom: 0;
  font-weight: bold;
  position: absolute;
}

.tooltip-content {
  white-space: pre-wrap;
}

.collapse-toggle {
  margin-right: 0.3em;
  line-height: 0.9;
}

.form-label {
  font-weight: 500;
}

input:disabled {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.accordion > .card {
  overflow: visible;
}

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__navigation:focus {
  outline: none;
}

.wizard-step {
  min-height: 650px;
}

.wizard-step-content {
  min-height: 600px;
}

.list-group-item.active {
  font-weight: 500;
}

.question-category-1 {
  background-color: rgba(8, 255, 0, 0.05);
}

.question-category-2 {
  background-color: rgba(230, 127, 0, 0.05);
}

.question-category-3 {
  background-color: rgba(222, 0, 230, 0.05);
}

.question-category-4 {
  background-color: rgba(0, 84, 230, 0.05);
}

.question-category-5 {
  background-color: rgba(0, 230, 222, 0.05);
}

.card-header:first-child {
  line-height: 24px;
}

.card-header.bg-info {
  background-color: #e6f9fb !important;
}

.card-header.bg-primary .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #c6c6c6;
  background-color: #fff;
}

.card-header.bg-primary .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #007bff;
}